useDynLib("silo")
importFrom("stats", "cov2cor", "setNames", "terms", "var")
importFrom("utils", "capture.output", "head", "tail")
importFrom("gmp", "as.bigz")
importFrom("kofnGA", "kofnGA")
importFrom("NMOF", "LSopt")
importFrom("Rcpp", "evalCpp")
importFrom("RcppAlgos", "comboCount")
export("silo")
